

a:hover{
    color: blue;
     font-size: 50px;
    background-color: red;
}

a:active{
    color: red;
    background-color: black;

}



/* ცხრილის დეკორირება */

table {
    width: 50%;
    margin: 20pxauto;
}
 td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    
    border: 2px solid red;
    color: gold;
    background-color: blue;
    
}