@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;

    width: 1000px;
    height: 900px;
    border: 5px solid black;
}

section {
    display: flex;
    justify-content: center;
    background-color: rgb(188, 255, 73);
    border: 3px solid blueviolet;
}

section:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: aqua;

}

section:nth-child(2) {
    background-color: rgb(247, 0, 0);
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 1;
}

section:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start:2;
    grid-row-end: 4;
}

section:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
    
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: chocolate;
}

section:nth-child(8){
    grid-column-start: 1;
    grid-column-end: 5;
}