@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Noto+Serif:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: Kumbh Sans;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(185, 70%, 34%);
}

main {
    border-radius: 10px;
    width: 450px;
    height: 500px;
    background: linear-gradient(to bottom, hsl(185, 75%, 39%) 40%, hsl(185, 75%, 39%) 40%, white 40%, white 100%);


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {
    border-radius: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
}


#top {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.gray {
    color: hsl(0, 1%, 51%);
}

#bottom {
    display: flex;
    gap: 50px;
}

.info{
   
    align-self: flex-end;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    
}

